:root {
  --primaryLight: #7A7367ff;
  --primaryDark: #262C2Aff;
  --cardDark: #585A58ff;
  --cardLight: #A8AEADff;
}

body {
  margin: 0;
}

.bubble-font {
  font-family: 'Bubblegum Sans', cursive;
}

.hero-card {
  background-color: var(--cardDark);
  color: gray;
  padding: 1em;
}

.small-card {
  min-height: 6vh;
}

.card-adjust {
  padding: 1em;
}

.hero-row {
  min-height: 30vh;
}

.card-light {
  background-color: var(--cardLight);
}

.custom-text-light {
  color: #d5eae6;
}

.img-fit {
  max-width: 100%;
}

.jungle-text {
  color: var(--darkFont);
}

/* FIXME: this background image does NOT work */
.background-img {
  background-image: url('https: //images.unsplash.com/photo-1680994354810-aa25bbc69976?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  object-fit: cover;
  object-position: top;
}



.primary-dark {
  background-color: var(--primaryDark);
}

.primary-light {
  background-color: var(--primaryLight);
}


/* classes for creating offset on card in main */

.parent-container {
  position: relative;
  align-items: right;
  display: flex;
}

.child-container {
  position: absolute;
  top: 100px;
  right: 3%;
  background-color: var(--cardLight);
}







@media(max-width:768px) {

  /* NOTE: setting position relative and absolute to both static in our media query will result in these properties being turned off. This solved the problem I was having when trying to switch to mobile. */
  .parent-container {
    position: static;
  }

  .child-container {
    position: static;
    top: 0px;
    right: none;
  }
}