:root {
  --primaryDark: rgb(80, 36, 80);
  --primaryLight: rgb(150, 69, 150);
}

body {
  margin: 0;
}

.hero-card {
  background-color: antiquewhite;
  color: gray;
  padding: 1em;
}

.card-adjust {
  padding: 1em;
}

.hero-row {
  min-height: 30vh;
}

.background-img {
  background-image: url('https: //images.unsplash.com/photo-1680994354810-aa25bbc69976?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1170&q=80');
  object-fit: cover;
  object-position: top;
}



.primary-dark {
  background-color: var(--primaryDark);
}

.primary-light {
  background-color: var(--primaryLight);
}


/* classes for creating offset on card in main */

.parent-container {
  position: relative;
  align-items: right;
  display: flex;
}

.child-container {
  position: absolute;
  top: 50px;
  right: 3%;
}







@media(max-width:768px) {

  /* NOTE: setting position relative and absolute to both static in our media query will result in these properties being turned off. This solved the problem I was having when trying to switch to mobile. */
  .parent-container {
    position: static;
  }

  .child-container {
    position: static;
    top: 0px;
    right: none;
  }
}